<% Category.all.each do |category| %>
  <label>
    <%= category.name %>
    <%= check_box_tag category.name, category.id, @pet.categories.include?(category), name: 'categories[]' %>
  </label>
  <br>
<% end %>
