<table>
  <% @pets.each do |pet| %>
      <tr><td><%= link_to pet.name, "/pets/#{pet.id}" %></td><td><%= button_to 'Delete', "/pets/#{pet.id}", method: 'delete' %></tr>
  <% end %>
</table>
<%= button_to 'New', '/pets/new', method: :get %>
